<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="./CSS/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <style>
        .a-enter-active{
            animation: eddie 0.5s;
        }
        .a-leave-active{
            animation: eddie 0.5s reverse;
        }

        @keyframes eddie{
            0%{
                opacity: 0;
                transform: translateX(100px);
            }
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
    </style>

</head>

<body>
    <div id="app">
        <audio id="myAudio" src="https://k003.kiwi6.com/hotlink/hshjwmwndw" loop ref="music"></audio>
        <loading :active.sync="LoaderVisiable" :can-cancel="true"></loading>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="aud">
            <div class="aud_inner">
                <div class="aud_img">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="headphones-alt"
                        class="svg-inline--fa fa-headphones-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <defs>
                            <linearGradient id="myGradient" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                                <stop offset="0%" stop-color="#5387A8" stop-opacity="1" />
                                <stop offset="100%" stop-color="#A67BB0" stop-opacity="1" />
                            </linearGradient>
                        </defs>
                        <path
                            d="M160 288h-16c-35.35 0-64 28.7-64 64.12v63.76c0 35.41 28.65 64.12 64 64.12h16c17.67 0 32-14.36 32-32.06V320.06c0-17.71-14.33-32.06-32-32.06zm208 0h-16c-17.67 0-32 14.35-32 32.06v127.88c0 17.7 14.33 32.06 32 32.06h16c35.35 0 64-28.71 64-64.12v-63.76c0-35.41-28.65-64.12-64-64.12zM256 32C112.91 32 4.57 151.13 0 288v112c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16V288c0-114.67 93.33-207.8 208-207.82 114.67.02 208 93.15 208 207.82v112c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16V288C507.43 151.13 399.09 32 256 32z">
                        </path>
                    </svg>
                </div>
                <div class="player">
                    <div class="row">
                        <div class="col-12">
                            <div class="player_title">
                                來點音樂吧
                            </div>
                        </div>
                        <div class="col-6 beco">
                            <div class="begin" @click="audioStart()">
                                begin
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="stop" @click="audioStop()">
                                stop
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <nav></nav>
        <main>
            <section class="detail">
                <div class="detail_container container">
                    <div class="row">
                        <div class=" detail_title">
                            <div class="title_btn">
                                <div class="title_inner">個人資料</div>

                            </div>

                        </div>
                        <div class=" detail_content">
                            <div class="content_card">
                                <div class="row">
                                    <div class="img_area col-12-sm col-lg-5">
                                        <div class="hrad_img"></div>

                                        <img src="" width="100%" alt="">
                                    </div>
                                    <div class="content_area col-12-sm col-lg-7">
                                        <div class="row">
                                            <div class="col-12-sm col-lg-12 text d-flex align-items-center">
                                                <div class="title">張富鈞</div>
                                            </div>
                                            <div class="col-12-sm col-lg-12 text">
                                                <div class="detail">
                                                    遇見新技術就好奇<br>
                                                    面對新挑戰就勇敢<br>
                                                    <br>
                                                    &#9997;&#127996;經歷後都是在茫茫職涯前行的路標&#9997;&#127996;
                                                </div>

                                            </div>





                                            <div class="line"></div>

                                            <div class="col-12-sm col-lg-12 text_less d-flex flex-column">
                                                <div class="title">自述 : </div>
                                                <div class="detail_less">
                                                    <p>前端目前是用<span
                                                            style="color: #41B883; font-weight: bold">vue.js</span>框架做開發，正在學習<span
                                                            style="color: #35495E; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #41B883;">vue
                                                            cli</span>做vue-router頁面切換與vuex狀態管理，短期目標是做出SSR網站。畫面生成正琢磨<span
                                                            style="color: #ED225D; font-weight: bold">p5.js</span>的canvas繪製以及CSS3
                                                        animation，希望能生成更活潑的互動畫面。後端學習地圖是整合<span
                                                            style="color: #41B883; font-weight: bold">vue.js</span>與<span
                                                            style="color: #FF2D20; font-weight: bold">laravel</span>，目前只做出簡易後台與簡易CRUD功能(2020/8月)
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="change_btn_area col-lg-12 d-flex justify-content-center">


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <!-- swipertest -->

            <section class="skill">
                <div class="skill_container container">
                    <div class="row">
                        <div class="skill_title">
                            <div class="title_btn">
                                <div class="title_inner">
                                    我的技能
                                </div>

                            </div>
                        </div>
                        <div class="skill_content">

                            <div class="skill_card">
                                <div class="row">
                                    <div class="col-12">
                                        <transition name="a" mode="out-in">
                                            <div class="what_skill" v-if="transitiona == 'a'" key="1">
                                                <div class="skill_title">前端技能</div>
                                                <hr>
                                                <ul>
                                                    <li>vue.js</li>
                                                    <li>javascript ( ES5，ES6 ) </li>
                                                    <li>JQuery</li>
                                                    <li>HTML / HTML5</li>
                                                    <li>CSS / CSS3</li>
                                                    <li>SASS / SCSS</li>
                                                    <li>bootstrap</li>
                                                    <li>RWD</li>
                                                    <li>JSON</li>
                                                    <li>Ajax</li>
                                                    <li>串接API (axios,fetch)</li>
                                                </ul>
                                            </div>

                                            <div class="what_skill" v-else-if="transitiona == 'b'" key="2">
                                                <div class="skill_title">後端技能</div>
                                                <hr>
                                                <ul>
                                                    <li>Laravel(待補強)</li>
                                                </ul>
                                            </div>

                                            <div class="what_skill" v-else key="3">
                                                <div class="skill_title">美術技能</div>
                                                <hr>
                                                <ul>
                                                    <li>Illustrator</li>
                                                    <li>PhotoShop</li>
                                                </ul>
                                            </div>

                                        </transition>
                                    </div>
                                </div>
                                <div class="wheel" ref="wheel" :class="wheelA">
                                    <div class="star"></div>
                                    <div class="front" ref="front" @click="fontHandler">
                                        <div class="word" ref="fronts">前</div>
                                    </div>
                                    <div class="back" ref="back" @click="backHandler">
                                        <div class="word" ref="backs">後</div>
                                    </div>
                                    <div class="art" ref="art" @click="artHandler">
                                        <div class="word" ref="arts">美</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>



            <section class="profile">
                <div class="profile_container container">
                    <div class="row">
                        <div class="profile_title">
                            <div class="title_btn">
                                <div class="title_inner">作品一覽</div>

                            </div>
                        </div>
                        <div class="profile_content row swiper-container">

                            <div class="swiper-wrapper">
                                <!--  -->
                                <div class="swiper-slide" v-for="resume of resumes" :key="resume.id">
                                    <div class="col-lg-12 col-10">
                                        <div class="good_card">
                                            <a :href="resume.page" target="_blank">
                                                <div class="mask">
                                                    <div class="explain">{{resume.spr}}
                                                    </div>
                                                    <button type="button" class="hover_btn">前往察看</button>
                                                </div>
                                            </a>

                                            <div class="img_area ">
                                                <img :src="resume.img" width="100%" alt="">
                                            </div>
                                            <div class="gcard_title"> {{resume.name}} </div>
                                        </div>

                                    </div>
                                </div>
                                <!--  -->
                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="copyRight">

            </div>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>



    <script>




        Vue.use(VueLoading);

        Vue.component('googleUser', {
            template: `
            <div>
                <slot name="a"></slot>
                <ul>
                    <li>456464864458464</li>
                </ul>
                我是一個用戶
                <slot name="b"></slot>
            </div>
            `,
        })

        let vm = new Vue({
            el: '#app',
            data: {
                LoaderVisiable: false,
                resumes:[],
                wheelA: "fontani",
                transitiona:"a"
            },
            components: {
                Loading: VueLoading
            },
            methods: {
                open: function () {
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    setTimeout(() => loader.hide(), 3 * 1000);
                },
                audioStart() {
                    this.$refs.music.play()
                },
                audioStop() {
                    this.$refs.music.pause()
                },
                re0() {
                    this.$refs.fronts.style.transform = "rotate(0deg)"
                    this.$refs.backs.style.transform = "rotate(0deg)"
                    this.$refs.arts.style.transform = "rotate(0deg)"
                },
                fontHandler() {
                    this.wheelA = "fontani"
                    this.re0()
                    this.$refs.fronts.style.transform = "rotate(45deg)"
                    this.$refs.backs.style.transform = "rotate(45deg)"
                    this.$refs.arts.style.transform = "rotate(45deg)"
                    this.transitiona = "a"
                },
                backHandler() {
                    this.wheelA = "backani"
                    this.re0()
                    this.transitiona = "b"
                },
                artHandler() {
                    this.wheelA = "artani"
                    this.re0()
                    this.$refs.fronts.style.transform = "rotate(-45deg)"
                    this.$refs.backs.style.transform = "rotate(-45deg)"
                    this.$refs.arts.style.transform = "rotate(-45deg)"
                    this.transitiona = "c"
                }
            },
            async mounted() {
                this.resumes = _.get(await axios.get('https://eddie605134.github.io/romon30/resume.json'), 'data', [])

                let r = 250
                let fx = r * Math.cos((225 / 360) * ((Math.PI * 2))) - 50
                let fy = r * Math.sin((225 / 360) * ((Math.PI * 2))) - 50
                vm.$refs.front.style.transform = `translate(${fx}px,${fy}px)`

                let bx = r * Math.cos((180 / 360) * ((Math.PI * 2))) - 50
                let by = r * Math.sin((180 / 360) * ((Math.PI * 2))) - 50
                vm.$refs.back.style.transform = `translate(${bx}px,${by}px)`

                let ax = r * Math.cos((135 / 360) * ((Math.PI * 2))) - 50
                let ay = r * Math.sin((135 / 360) * ((Math.PI * 2))) - 50
                vm.$refs.art.style.transform = `translate(${ax}px,${ay}px)`

                this.$refs.fronts.style.transform = "rotate(45deg)"
                this.$refs.backs.style.transform = "rotate(45deg)"
                this.$refs.arts.style.transform = "rotate(45deg)"
            },
            updated(){
                new Swiper('.swiper-container', {
                    slidesPerView: 4,
                    spaceBetween: 40,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    }, breakpoints: {
                        320: {
                            slidesPerView: 1,
                            spaceBetween: 20,
                        },

                        576: {
                            slidesPerView: 2,
                            spaceBetween: 50,
                        },
                        785: {
                            slidesPerView: 2,
                            spaceBetween: 30,
                        },
                        1024: {
                            slidesPerView: 4,
                            spaceBetween: 50,
                        },
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            }
        })




        /*$(document).mousemove(function (e) {
            let positionX = (e.pageX - $(window).width() / 2) * -0.05;
            let positionY = (e.pageY - $(window).height() / 2) * -0.05;
            $(".bg-bubbles li").css({ 'transform': `translateX(${positionX}px` });
        });*/




    </script>

</body>

</html>