@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

body {
  overflow: hidden;
  margin: 0;
}

div {
  width: 100px;
  height: 100px;
  margin: 0;
  background: radial-gradient(#fffbfa, black);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

div:before, div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  opacity: .5;
  mix-blend-mode: overlay;
  -webkit-animation: rotate 5.5s ease-in-out infinite;
          animation: rotate 5.5s ease-in-out infinite;
}

div:before {
  background: conic-gradient(rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.91), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.9), rgba(3, 10, 0, 0.33), rgba(3, 10, 0, 0.17), rgba(3, 10, 0, 0.18), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.25), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.52), rgba(3, 10, 0, 0.57), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.06), rgba(3, 10, 0, 0.42), rgba(3, 10, 0, 0.12), rgba(3, 10, 0, 0.91), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.9), rgba(3, 10, 0, 0.33), rgba(3, 10, 0, 0.17), rgba(3, 10, 0, 0.18), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.25), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.14), rgba(3, 10, 0, 0.52), rgba(3, 10, 0, 0.57), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.06));
}

div:after {
  background: conic-gradient(rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.9), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.85), rgba(4, 10, 1, 0.47), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.05), rgba(3, 10, 0, 0.82), #030a00, rgba(3, 10, 0, 0.42), rgba(3, 10, 0, 0.8), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.67), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.83), rgba(3, 10, 0, 0.53), rgba(3, 10, 0, 0.37), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.95), rgba(3, 10, 0, 0.76), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.97), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.23), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.9), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.85), rgba(4, 10, 1, 0.47), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.05), rgba(3, 10, 0, 0.82), #030a00, rgba(3, 10, 0, 0.42), rgba(3, 10, 0, 0.8), rgba(3, 10, 0, 0.98), rgba(3, 10, 0, 0.67), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.83), rgba(3, 10, 0, 0.53), rgba(3, 10, 0, 0.37), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.95), rgba(3, 10, 0, 0.76), rgba(3, 10, 0, 0.21), rgba(3, 10, 0, 0.97), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.23));
  -webkit-animation-duration: 9.6s;
          animation-duration: 9.6s;
  animation-direction: reverse;
}
/*# sourceMappingURL=css.css.map */