body {
  overflow: hidden;
}

div {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(#ffd4cc, black);
}

div:before, div:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100vmax;
  width: 200vmax;
  height: 200vmax;
  opacity: .5;
  mix-blend-mode: overlay;
  -webkit-animation: rotate 7.3s ease-in-out infinite;
          animation: rotate 7.3s ease-in-out infinite;
  content: '';
}

div:before {
  background: conic-gradient(rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.24), rgba(3, 10, 0, 0.77), rgba(3, 10, 0, 0.47), rgba(3, 10, 0, 0.35), rgba(3, 10, 0, 0.1), rgba(3, 10, 0, 0.05), rgba(3, 10, 0, 0.55), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.11), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.03), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.42), rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.07), rgba(3, 10, 0, 0.35), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.03), rgba(3, 10, 0, 0.97), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.24), rgba(3, 10, 0, 0.77), rgba(3, 10, 0, 0.47), rgba(3, 10, 0, 0.35), rgba(3, 10, 0, 0.1), rgba(3, 10, 0, 0.05), rgba(3, 10, 0, 0.55), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.11), rgba(3, 10, 0, 0.5), rgba(3, 10, 0, 0.36), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.31), rgba(3, 10, 0, 0.03), rgba(3, 10, 0, 0.72), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.42), rgba(3, 10, 0, 0.34), rgba(3, 10, 0, 0.29), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.07), rgba(3, 10, 0, 0.35), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.03));
}

div:after {
  background: conic-gradient(rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.59), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.69), rgba(3, 10, 0, 0.91), rgba(3, 10, 0, 0.56), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.09), rgba(3, 10, 0, 0.89), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.3), rgba(3, 10, 0, 0.64), rgba(3, 10, 0, 0.96), rgba(3, 10, 0, 0.13), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.66), rgba(3, 10, 0, 0.9), rgba(3, 10, 0, 0.49), rgba(3, 10, 0, 0.59), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.28), rgba(3, 10, 0, 0.74), rgba(3, 10, 0, 0.69), rgba(3, 10, 0, 0.91), rgba(3, 10, 0, 0.56), rgba(3, 10, 0, 0.75), rgba(3, 10, 0, 0.09), rgba(3, 10, 0, 0.89), rgba(3, 10, 0, 0.43), rgba(3, 10, 0, 0.3), rgba(3, 10, 0, 0.64), rgba(3, 10, 0, 0.96), rgba(3, 10, 0, 0.13), rgba(3, 10, 0, 0.58), rgba(3, 10, 0, 0.08), rgba(3, 10, 0, 0.66));
  -webkit-animation-duration: 5.4s;
          animation-duration: 5.4s;
  animation-direction: reverse;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
/*# sourceMappingURL=css2.css.map */